<h1 class="mt-4">Create new book</h1>
<div class="card mb-4">
<div class="card-header">
    <a asp-action="Index" class="btn btn-success">Back</a>
</div>
    <div class="card-body">
        aaa
    </div>
</div>