@model miranaSolution.API.ViewModels.Genres.ApiCreateGenreRequest
@{
    ViewData["Title"] = "Create new genre";
}

<h1 class="mt-4">Create new genre</h1>
<div class="card mb-4">
    <div class="card-header">
        <a asp-action="Index" class="btn btn-danger">Back</a>
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" asp-action="Create" asp-controller="Genres" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input class="form-control" placeholder="Enter name" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger form-text"></span>
            </div>
            
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </form>
    </div>
</div>